<div id="menu">
  <button class="menu_button" (click)="appComponent.showGamesPage()">Powrót do wyboru gier!</button>
  <button class="menu_button" (click)="showLiveStreamPage()">Transmisja LIVE!</button>
</div>
<div>
  <button class="join_button" (click)="joinGames()">Dołącz do rozgrywek!</button>
  <button class="join_button" (click)="getOpponent()">Znajdź przeciwnika!</button>
</div>
<div id="current_match"></div>
<div id="content">
  <app-match-schedule></app-match-schedule>
</div>
<div id="right_side">
  <app-registered-players></app-registered-players>
</div>
