<div id="menu">
  <button class="menu_button" (click)="showMatchSchedulePage()">Harmonogram rozgrywek!</button>
  <button class="menu_button" (click)="appComponent.showStartPage()">Powrót do wyboru gier!</button>
  <button class="menu_button" (click)="startPageComponent.showLiveStreamPage()">Transmisja LIVE!</button>
</div>
<button class="join_button" (click)="joinGames()">Dołącz do rozgrywek!</button>
<div id="current_match"></div>
<div id="content">
  <app-match-schedule></app-match-schedule>
</div>
<div id="right_side">
  <app-registered-players></app-registered-players>
</div>
