<div style="margin-top: 100px;">
  <button class="submit_button" style="margin: 15px;" (click)="appComponent.showStartPage()">Strona główna</button>
  <h1>Logowanie</h1>
  <label for="login">Login: <span *ngIf="login.length > 0" style="color: limegreen;">OK</span></label><br />
  <input type="text" id="login" class="orange_input" [(ngModel)]="login" /><br /><br />
  <label for="pass">Hasło: <span *ngIf="password.length >= 6" style="color: limegreen;">OK</span></label><br />
  <input type="password" id="pass" class="orange_input" [(ngModel)]="password" /><br /><br />
  <button class="submit_button" (click)="logIn()" [disabled]="isButtonDisabled()">Zaloguj się!</button>
</div>
