#main_container
{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#info_container
{
  padding-top: 200px;
}

#user_container
{
  width: 25%;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid white;
  border-top: 2px solid transparent;
}

#buttons_container
{
  clear: both;
}

.component_container
{

}

.user_info_button
{
  background-color: orange;
  width: 25%;
  height: 35px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  /*border: 2px solid white;*/
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.user_info_button:hover
{
  background-color: darkorange;
}
