<div id="main_container">
  <div id="user_container" *ngIf="userService.getUserInfo() != null && userService.getUserInfo().username.length > 0" style="">
    <p>Gracz: {{userService.getUserInfo().username}} | {{this.userService.getUserLeaguePoints()}} PKT.<br />
      Najbliższy mecz: --.--.---- --:--<br />
      <button class="user_info_button" (click)="showProfilePage()">Profil</button>
      <button class="user_info_button" (click)="logOut()">Wyloguj się</button></p>
  </div>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>

