<div id="info_container">
  <h1>{{appComponent.title}}</h1>
  <p>Witaj na oficjalnej stronie amatorskiej ligi e-sportowej!</p>
  <p>Wybierz interesującą Ciebie grę i dołącz do rozgrywek ;)</p>
  <div id="games_container">
    <button class="game_button" (click)="showLeagueOfLegendsPage()"><img src="{{appComponent.leagueOfLegendsLogo}}" alt="League Of Legends" style="width: 375px; height: 125px;"/></button>
    <button class="game_button" (click)="showCSGOPage()"><img src="{{appComponent.csgoLogo}}" alt="Counter Strike: Global Offensive" style="width: 375px; height: 125px;"/></button>
  </div>
</div>
