<div>
  <button class="submit_button" style="margin-top: 100px;" (click)="appComponent.showStartPage()" [hidden]="this.userService.getUserInfo() !== null">Strona główna</button>
  <h2>Harmonogram rozgrywek ligowych</h2>
  <div *ngIf="matches.length === 0">
    <p>Brak rozgrywek w tym tygodniu.</p>
  </div>
  <div *ngIf="matches.length > 0">
    <table style="border: 2px solid white;">
      <tr *ngFor="let match of matches; let i = index">
        <td>
          {{
            appComponent.convertDateNumberToProperFormat(matchStartDates[i].getDate()) + '.'
            + appComponent.convertDateNumberToProperFormat((matchStartDates[i].getMonth() + 1)) + '.'
            + appComponent.convertDateNumberToProperFormat(matchStartDates[i].getFullYear()) + ' '
            + appComponent.convertDateNumberToProperFormat(matchStartDates[i].getHours()) + ':'
            + appComponent.convertDateNumberToProperFormat(matchStartDates[i].getMinutes())
          }}
        </td>
        <td>
          {{match.firstPlayer.ts3Nickname}}<br />
          ({{match.firstPlayer.lolNickname}})<br />
        </td>
        <td>
          {{match.secondPlayer.ts3Nickname}}<br />
          ({{match.secondPlayer.lolNickname}})<br />
        </td>
        <td>
          P1:<br />
          {{match.firstPlayerScore}}<br />
          <div *ngIf="this.userService.getUserInfo() !== null && this.userService.getUserInfo().username == 'admin' && !match.matchEnded">
            <hr />
            <button class="admin_button" (click)="addPointToP1(match.id, match.firstPlayer.userId)">+</button>
            <button class="admin_button" (click)="removePointFromP1(match.id, match.firstPlayer.userId)">-</button>
          </div>
        </td>
        <td>
          P2:<br />
          {{match.secondPlayerScore}}<br />
          <div *ngIf="this.userService.getUserInfo() !== null && this.userService.getUserInfo().username === 'admin' && !match.matchEnded">
            <hr />
            <button class="admin_button" (click)="addPointToP2(match.id, match.secondPlayer.userId)">+</button>
            <button class="admin_button" (click)="removePointFromP2(match.id, match.secondPlayer.userId)">-</button>
          </div>
        </td>
        <td *ngIf="match.matchEnded"><span style="color: green">Mecz zakończony</span></td>
        <td *ngIf="!match.matchEnded && currentDateTime >= matchStartDates[i]"><span style="color: orange">Mecz w toku</span></td>
        <td *ngIf="this.userService.getUserInfo() !== null && this.userService.getUserInfo().username == 'admin'">
          <button class="admin_button" style="width: 200px;" (click)="endMatch(match.id)" [disabled]="match.matchEnded">Zakończ mecz</button>
        </td>
      </tr>
    </table>
  </div>
</div>
