/* You can add global styles to this file, and also import other style files */
body
{
  /* Background pattern from subtlepatterns.com */
  background-image: url("src/assets/images/footer_lodyas.png");
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
  color: white;
}
