#video_player
{
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  margin-bottom: 48px;
}

#chat
{
  width: 20%;
  height: 100%;
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 48px;
}

iframe
{
  min-height: 400px;
}

td
{
  padding: 5px;
}

@media only screen and (max-width: 1366px)
{
  iframe
  {
    height: 535px;
  }
}

@media only screen and (max-width: 1920px)
{
  iframe
  {
    height: 835px;
  }
}

