<div style="height: 100%; margin: 0; padding: 0;">
  <div id="video_player">
    <button class="submit_button" style=" width: 100%; margin: 0;" (click)="appComponent.showStartPage()">Strona główna</button>
    <iframe src="https://player.twitch.tv/?channel=damianosdw" frameborder="0" allowfullscreen="true" scrolling="no" height="100%" width="100%"></iframe>
  </div>
  <div id="chat">
    <button class="submit_button" style=" width: 100%; margin: 0;" (click)="showChatView()" [disabled]="showChat">Czat</button>
    <iframe *ngIf="showChat" src="https://www.twitch.tv/embed/damianosdw/chat?darkpopout" frameborder="0" scrolling="no" height="100%" width="100%"></iframe>
  </div>
</div>
